<div class="palm-dialog-content">
	<div class="palm-dialog-title">Certificato di protezione attendibile?</div>
	<div class="palm-dialog-separator"></div>
	<div class="palm-dialog-message palm-info-text">
		#{certReason}
	</div>
</div>
<div class="palm-dialog-buttons">
    <div class="palm-button" id="cert_trust_button" x-mojo-tap-highlight="immediate">Certificato attendibile</div>
    <div class="palm-button" id="cert_trustonce_button" x-mojo-tap-highlight="immediate">Attendibile una sola volta</div>
    <div class="palm-button" id="cert_trustdont_button" x-mojo-tap-highlight="immediate">Certificato non attendibile</div>
</div>
