<div class="palm-dialog-content">
	<div class="palm-dialog-title">GLYTrùst sèçùrïtÿ çèrtïfïçàtè¿01234</div>
	<div class="palm-dialog-separator"></div>
	<div class="palm-dialog-message palm-info-text">
		#{certReason}
	</div>
</div>
<div class="palm-dialog-buttons">
    <div class="palm-button" id="cert_trust_button" x-mojo-tap-highlight="immediate">ISbTrùst Çèrtïfïçàtè012</div>
    <div class="palm-button" id="cert_trustonce_button" x-mojo-tap-highlight="immediate">yRoTrùst Çèrtïfïçàtè Òñçè0123</div>
    <div class="palm-button" id="cert_trustdont_button" x-mojo-tap-highlight="immediate">5kSÐòñ't Trùst Çèrtïfïçàtè0123</div>
</div>
