<div class="palm-scene dashboard-notification-module">
    <div id="icon-target" class="palm-dashboard-icon-container" x-mojo-dashboard-target="icon">
        <div class="dashboard-newitem">
            <span id="_dashboardCount">#{_dashboardCount}</span>
        </div>
        <div class="palm-dashboard-icon" style="background-image: url(#{icon});" id="icon"></div>
    </div>
    <div id="main-target" class="palm-dashboard-text-container" x-mojo-dashboard-target="main">
        <span id="rightHTML">
            #{-rightHTML}
        </span>
        <div id="title" class="dashboard-title">
            #{-title}
        </div>
        <div id="text" class="palm-dashboard-text">
            #{text}
        </div>
    </div>
</div>
