<div id="main-target" class="palm-scene dashboard-notification-module single" x-mojo-dashboard-target="main">
    <div class="palm-dashboard-icon-container">
        <div class="palm-dashboard-icon" style="background-image: url(#{icon});" id="icon"></div>
    </div>   
    <div id="rightHTML" class="palm-dashboard-text-container">
        #{-rightHTML}
        <div id="title" class="dashboard-title">
            #{-title}
        </div>
        <div id="text" class="palm-dashboard-text">
            #{text}
        </div>
    </div>
</div>