<div class="palm-dialog-content">
	<div class="palm-dialog-title">Zertifikat vertrauen?</div>
	<div class="palm-dialog-separator"></div>
	<div class="palm-dialog-message palm-info-text">
		#{certReason}
	</div>
</div>
<div class="palm-dialog-buttons">
    <div class="palm-button" id="cert_trust_button" x-mojo-tap-highlight="immediate">Zertifikat vertrauen</div>
    <div class="palm-button" id="cert_trustonce_button" x-mojo-tap-highlight="immediate">Zertifikat einmal vertrauen</div>
    <div class="palm-button" id="cert_trustdont_button" x-mojo-tap-highlight="immediate">Zertifikat nicht vertrauen</div>
</div>
