<div class="palm-dialog-content">
	<div class="palm-dialog-title">是否信任安全證書？</div>
	<div class="palm-dialog-separator"></div>
	<div class="palm-dialog-message palm-info-text">
		#{certReason}
	</div>
</div>
<div class="palm-dialog-buttons">
    <div class="palm-button" id="cert_trust_button" x-mojo-tap-highlight="immediate">信任證書</div>
    <div class="palm-button" id="cert_trustonce_button" x-mojo-tap-highlight="immediate">信任證書一次</div>
    <div class="palm-button" id="cert_trustdont_button" x-mojo-tap-highlight="immediate">不信任證書</div>
</div>
